/*
        /\ \__               /\_ \           /\ \
        \ \ ,_\    __    ____\//\ \      __  \ \ \____    ____
         \ \ \/  /'__`\ /',__\ \ \ \   /'__`\ \ \ '__`\  /',__\
          \ \ \_/\  __//\__, `\ \_\ \_/\ \L\.\_\ \ \L\ \/\__, `\
           \ \__\ \____\/\____/ /\____\ \__/.\_\\ \_,__/\/\____/
            \/__/\/____/\/___/  \/____/\/__/\/_/ \/___/  \/___/

             by Gerard Marull-Paretas <gerardmarull@gmail.com>
*/

/**
 * Table of Contents
 *
 * 0. Fonts
 * 1. Base
 * 2. Grid
 * 3. Utilities
 * 4. Site
 * 5. Posts
 * 6. Pagination
 * 7. CV
 * 8. Misc
 */


/**
 * 0. Fonts
 */

/* Icon font (based on FontAwesome) */
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?27266349');
  src: url('../fonts/icons/icons.eot?27266349#iefix') format('embedded-opentype'),
       url('../fonts/icons/icons.woff?27266349') format('woff'),
       url('../fonts/icons/icons.ttf?27266349') format('truetype'),
       url('../fonts/icons/icons.svg?27266349#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before {
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  font-family: "icons";
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  text-transform: none;
}

.icon-globe:before { content: '\e800'; }
.icon-home:before { content: '\e801'; }
.icon-mail:before { content: '\e802'; }
.icon-print:before { content: '\e803'; }
.icon-frown:before { content: '\e804'; }
.icon-chat:before { content: '\e805'; }


/**
 * 1. Base
 */

/* Globals */
html {
  box-sizing: border-box;
  font-size: 19px;
}

@media screen and (max-width: 56em) {
  html {
    font-size: 17px;
  }
}

@media print {
  html {
    font-size: 16px;
  }
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font: 1em/1.4 "PT Serif", serif;
  color: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #3884C3;
  text-decoration: none;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

/* Titles */
h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 0.5em;
  font-family: "PT Sans", sans-serif;
  line-height: 1em;
}

h1 {
  font-size: 1.842105em;
}

h2 {
  font-size: 1.473684em;
}

h3 {
  font-size: 1.368421em;
}

h4, h5, h6 {
  font-size: 1em;
}

/* Text elements */
p {
  margin: 0 0 1em;
}

strong {
  font-weight: 600;
}

blockquote {
  margin: 0 0 1.5em -1em;
  padding: 0 1em 0;
  border-left: #57ad68 0.4em solid;
}

dl dt {
  font-weight: bold;
}

@media screen and (max-width: 56em) {
  blockquote {
    margin-left: 0;
  }
}

/* Code and related */
code, kbd, pre, samp {
  font-family: "Inconsolata", monospace;
  word-wrap: normal;
}

pre {
  margin-left: -1em;
  padding: 0.3em 1em;
  border-left: #57ad68 0.4em solid;
  font-size: 0.842105em;
  line-height: 1.2;
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0 0.5em;
  line-height: 1.2em;
  white-space: nowrap;
  text-shadow: 0 1px 0 #fff;
  color: #333;
  border: #ccc 1px solid;
  border-radius: 3px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #fff inset;
  /* Fix for Chrome print */
  -webkit-filter: opacity(1);
}

@media screen and (max-width: 56em) {
  pre {
    margin-left: 0;
  }
}

/* Images and figures */

img {
  max-width: 100%;
}

figcaption {
  font-size: 0.842105em;
  font-style: italic;
  text-align: center;
}

@media print {
  img, iframe {
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
  }
}

/* Tables */
table {
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
}

table th,
table td {
    padding: 0.4em;
    line-height: 1em;
    text-align: left;
    vertical-align: top;
    border-top: rgba(0, 0, 0, 0.04) 1px solid;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: none;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: rgba(0, 0, 0, 0.03);
}

/* Other elements */
hr {
  margin: 1.5em 0;
  border: 0;
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
}

iframe {
  border: none;
}

/**
 * 2. Grid
 */

[class*="grid-col-"] > .content {
  margin-bottom: 1em;
}

@media print, screen and (min-width: 56em) {
  .grid {
    margin: 0 -0.75em;
  }

  /* Clearfix */
  .grid:before,
  .grid:after {
    content: " ";
    display: table;
  }
  .grid:after { clear: both; }
  .grid { zoom: 1; }

  [class*="grid-col-"] {
    float: left;
    padding: 0 0.75em;
    vertical-align: top;
  }

  .grid[class*="grid-col-"] {
    margin: 0;
    padding: 0;
  }

  .grid-col-20  { width: 20%; }
  .grid-col-25  { width: 25%; }
  .grid-col-30  { width: 30%; }
  .grid-col-33  { width: 33%; }
  .grid-col-40  { width: 40%; }
  .grid-col-50  { width: 50%; }
  .grid-col-60  { width: 60%; }
  .grid-col-67  { width: 67%; }
  .grid-col-70  { width: 70%; }
  .grid-col-75  { width: 75%; }
  .grid-col-80  { width: 80%; }
  .grid-col-100 { width: 100%; }
}


/**
 * 3. Utilities
 */

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Text alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Floats */
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

img.pull-right {
  margin-left: 1em;
  margin-bottom: 1em;
}

img.pull-left {
  margin-right: 1em;
  margin-bottom: 1em;
}

/* Links to full-size image */
.zoom-in {
  border: none;
  cursor: zoom-in;
}

/* Remove border of images inside links */
.borderless {
  border: none;
}

/* Exceed page width */
@media screen and (min-width: 66em) {
  .extra-width {
    max-width: 125% !important;
    margin-left: -12.5%;
  }
}

/* Full width */
.full-width {
  width: 100%;
}

/* Web container */
.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 46em;
}

@media screen and (max-width: 56em) {
  .container {
    width: 100%;
  }
}

@media print {
  .container {
    width: 100%;
    padding: 0;
  }
}


/**
 * 4. Site
 */

.site-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.93);
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

/* Canvas element = 56 x 56 */
.site-logo {
  float: left;
  margin: 7px 10px 7px -28px;
  border-radius: 50%;
  background-color: #57ad68;
  box-shadow:
    -2px 2px #e67e22,
    2px -2px #f1c40f,
    1px 3px rgba(87,173,104,0.3);
}

.site-logo-print {
  display: none;
  float: left;
  margin: 7px 10px 7px 0px;
}

.site-title {
  margin: 15px 0;
  float: left;
  font-weight: normal;
  font-size: 40px;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.75);
}

/* Navigation menu */
.site-nav {
  float: right;
}

.site-nav ul {
  margin: 14px 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

.site-nav a {
  display: block;
  padding: 12px 15px 7px 15px;;
  font: 18px/1 "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border-bottom: transparent 5px solid;
  transition: all 0.5s;
}

.site-nav a:hover,
.site-nav .active a {
  border-bottom: #57ad68 5px solid;
}

#site-nav-trigger {
  display: none;
}

label[for=site-nav-trigger] {
  display: none;
  float: right;
  margin: 20px 0;
  font-size: 30px;
  line-height: 1em;
  color: #57ad68;
}

.site-main {
  margin-top: 90px;
}

.site-footer {
  margin: 2em auto 0;
  padding: 1em 0;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

/* Media queries */
@media screen and (max-width: 56em) {
  .site-header {
    position: absolute;
  }

  .site-logo {
    margin-left: 0;
  }

  .site-nav {
    float: none;
    clear: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s;
  }

  .site-nav li {
    width: 100%;
    display: block;
    text-align: center;
  }

  .site-nav a {
    padding-bottom: 12px;
    border-bottom: none;
  }

  .site-nav a:hover,
  .site-nav .active a {
    color: #fff;
    background-color: #57ad68;
    border-bottom: none;
  }

  label[for=site-nav-trigger] {
    display: block;
    transition: all 0.25s;
  }

  #site-nav-trigger:checked ~ .site-nav {
    max-height: 9999px;
    opacity: 1;
  }

  #site-nav-trigger:checked ~ label[for=site-nav-trigger] {
    transform: rotate(90deg);
  }
}

@media print {
  .site-header {
    position: static;
    margin-bottom: 20px;
    border-bottom: none;
  }

  .site-logo,
  .site-nav {
    display: none;
  }

  .site-logo-print {
    display: block;
  }

  .site-main{
    margin: 1cm;
  }
}


/**
 * 4. Posts
 */

.post-header {
  margin-bottom: 1em;
}

.post-title {
  margin-bottom: 0.1em;
}

.post-title a {
  border-bottom: none;
  color: rgba(0, 0, 0, 0.75);
}

.post-date {
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.post-content {
  margin-bottom: 1.5em;
}

.post-comments {
  position: relative;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: rgba(0, 0, 0, 0.05) 1px solid;
}

.post-badge {
  position: absolute;
  top: -0.75em;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-left: -0.75em;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  background-color: #57ad68;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 0.4em;
  /* Fix for Chrome print */
  -webkit-filter: opacity(1);
}

/* Post archive */
.post.post-archive {
  position: relative;
  margin-bottom: 1.5em;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.post.post-archive:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #57ad68;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
  /* Fix for Chrome print */
  -webkit-filter: opacity(1);
}

.post.post-archive p:after {
  content: '\0020\0020\00BB';
}


/**
 * 5. Pagination
 */

.pagination {
  position: relative;
  font-family: "PT Sans", sans-serif;
  line-height: 2em;
  color: rgba(0,0,0,0.3);
  text-align: center;
}

.pagination a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.pagination-older,
.pagination-newer {
  position: absolute;
  display: inline-block;
  padding: 0 0.7em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 9999em;
  transition: all 0.25s;
}

.pagination-older:hover,
.pagination-newer:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.pagination-older {
  right: 0;
}

.pagination-newer {
  left: 0;
}


/**
 * 6. CV
 */

/* Sections */
.cv-section {
  position: relative;
  margin-bottom: 1.5em;
}

/* Section entries */
.cv-bio {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.cv-entry {
  margin-bottom: 1.5em;
}

.cv-entry-title {
  margin-bottom: 0.25em;
  font-size: 1em;
}

.cv-entry-meta {
  margin-bottom: 0.5em;
  font-family: "PT Sans", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.cv-entry-date {
  text-align: right;
}

/* Header */
.cv-header {
  font-family: "PT Sans", sans-serif;
}

.cv-header span {
  margin-left: 0.3em;
}

.cv-print {
  text-align: right;
}

.cv-print-btn {
  display: inline-block;
  width: 2em;
  height: 2em;
  padding-top: 0.35em;
  font-size: 1.3em;
  text-align: center;
  color: #fff;
  background-color: #57ad68;
  border: none;
  border-radius: 50%;
}

@media screen and (max-width: 56em) {
  .cv-entry-date {
    text-align: left;
  }

  .cv-print {
    display: none;
  }
}

@media print {
  .cv .site-header,
  .cv .site-footer,
  .cv-print {
    display: none;
  }
}


/**
 * 6. Misc
 */

/* Syntax */
.highlight {
  margin: 0;
  border-radius: 4px;
}

/* Gist (GitHub) */
.gist .gist-file {
  font-family: "Inconsolata", monospace !important;
}

.gist .markdown-body {
  padding: 1em;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8em !important;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

