---
layout: default
title: Articles
---

{% assign total_posts = paginator.posts | size %}

{% if total_posts > 1 %}

{% for post in paginator.posts %}

<article class="post post-archive">
  <header class="post-header">
    <h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
  </header>

  <section class="post-content">
    {{ post.excerpt }}
  </section>

</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    <a class="pagination-newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>
  {% endif %}

  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="pagination-older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>
  {% endif %}
</nav>
{% endif %}

{% else %}

<h1 class="text-center">No articles yet!</h1>

{% endif %}
